body {
	color: #000000;
	font-family: Helvetica;
	font-weight: normal;
	font-size: 24px;
	text-align: center;
}

hr {
  width:800px;
}

h1 {
	color: #D90000;
	text-align: center;
	font-weight: 800;
	font-size: 36px;
}

#slogan {
	font-style: italic,serif;
	font-size: 30px;
	text-align: center;
}

p {
	color: #000000;
	font-family: Helvetica;
	font-size: 24px;
}

#menu {
	height: 84px;
}

ul#horizontal-list{
	min-width: 700px;
	list-style: none;
	text-transform: uppercase;
}

hr#bottom-line {
  width:800px;
}

